name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Generate Snake
        uses: Platane/snk@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          output: github-contribution-grid-snake.svg
      - name: Push Snake
        uses: EndBug/add-and-commit@v7
        with:
          default_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          message: "Generate Snake"
          add: github-contribution-grid-snake.svg
